body {
    margin: 0;
    padding: 0;
}
.button-bar {
    background-color: #ddd;
    padding: 3px 5px;
    border-radius: 4px;
}

/* put editor into a sliding "sidecar" */
#sidecar {
    position: absolute;
    right: 0px; /* on-screen position */
    height: 100%;
}
#sidecar-grabber {
    float: left;
    width: 12px;
    height: 100%;
    /* N.B. Any vertical padding will screw up its full height!
    padding-top: 50%;
    */
}
.grabber-active {
    background-color: #000;
}
#sidecar-grabber,
#sidecar-pulltab {
    background-color: #aaa;
}
#sidecar-pulltab {
    height: 36px;
    width: 36px;
    border-radius: 12px;
    margin-top: -24px;
    margin-left: -24px;
}
#sidecar-pulltab a {
    margin: 12px 7px;
}

#editor {
    width: 520px;
    height: 100%;
    /* N.B. Any vertical padding will screw up its full height! */
    padding: 0 6px;
    background-color: #f9f9f9;
    overflow-y: scroll;
}

#sticky-viewer-frame {
    position: fixed;
    width: 46%;
    height: 100%;
    /* background-color: #ffd; */
}
#viz-top-control-bar {
    margin: 8px 0 6px;
    overflow: hidden;
}
#viz-bottom-control-bar {
    margin: 24px 0 8px;
    overflow: hidden;
}

#viz-outer-frame {
    /* size and position will likely vary in different host applications */
    background-color: #eee;
    padding-right: 11px;
    padding-bottom: 9px;
    border: 1px solid #ccc;
    overflow: visible; /* don't hide viewport scrollbars */
    height: 85%; /* JS will adjust this on resize */
}
#viz-outer-frame div.vega {
    width: 100%;
    border: 1px solid #ddd;
    margin: -1px;
    float: left;
    height: 100%;
    overflow: scroll;
    /* initial styles */
    margin-right: -16px;
}
#viz-outer-frame.hide-rulers div.vega {
    margin-right: -1px;
    padding-right: 9px !important;
    padding-bottom: 9px !important;
}
#viz-outer-frame div.vega > svg {
    /* avoid unwanted scrollbars */
    margin-bottom: -13px;
    margin-right: -13px;
}
#viz-outer-frame #fixed-ruler-units {
    background-color: #f5f5f5;
    float: left; 
    text-align: center; 
    font-family: sans-serif;
    /* initial styles */
    font-size: 12px; 
    line-height: 15px; 
    width: 15px; 
    height: 15px;"
}
#viz-outer-frame #fixed-ruler-top,
#viz-outer-frame #fixed-ruler-left {
    background-color: #eee;
}
#viz-outer-frame.hide-rulers #fixed-ruler-units,
#viz-outer-frame.hide-rulers #fixed-ruler-top,
#viz-outer-frame.hide-rulers #fixed-ruler-left {
    display: none;
}

#fixed-ruler-top {
    width: 100%;
    float: left; 
    background-color: #f5ffff;
    overflow: hidden;
    /* initial styles */
    height: 15px; 
    margin-right: -15px;
}
#fixed-ruler-left {
    height: 100%;
    float: left; 
    clear: left; 
    background-color: #fff5ff;
    overflow: hidden;
    /* initial styles */
    width: 15px; 
    margin-bottom: -36px;
}

/* styling for the SVG elements in the outer rulers */
g.outer-axis path,
g.outer-axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
g.outer-axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#viz-workarea {
    float: left; 
    background-color: #fffff5;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    margin-right: -35px;
    margin-bottom: -35px;
}

/*  
 * Panel styles, stolen from the future: 
 *  https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.css
 * Panel sub-types apply color tints that might prove useful
 *  .panel-primary  strong blue (requires reversed text & icons)
 *  .panel-default  soft gray (very neutral)
 *  .panel-info     pale blue (good for alt-neutral)
 *  .panel-success  pale green
 *  .panel-warning  pale yellow
 *  .panel-danger   pale red
 */
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.panel-heading > .panel-title {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image:         linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image:      -o-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#428bca), to(#357ebd));
  background-image:         linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
  background-repeat: repeat-x;
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image:      -o-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#d0e9c6));
  background-image:         linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
  background-repeat: repeat-x;
}
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image:      -o-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#c4e3f3));
  background-image:         linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);
  background-repeat: repeat-x;
}
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image:      -o-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#faf2cc));
  background-image:         linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);
  background-repeat: repeat-x;
}
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image:      -o-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#ebcccc));
  background-image:         linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
  background-repeat: repeat-x;
}

.element-type {
    font-weight: normal;
    color: #777;
    float: right;
    padding-right: 0.75em;
}
.help-text {
    padding: 4px 8px;
    font-style: italic;
}
.help-rollover {
    display: none;
    font-weight: normal;
    color: #777;
    padding-left: 0.75em;
}
.move-up, .move-down, .move-disabled, .remove-element {
   border: 6px solid transparent;
   margin: -3px -10px -6px 10px;
}
.move-disabled {
    opacity: 0.3;
    cursor: default;
}

/* EXPERIMENTAL fluid layout for accordion forms */
.accordion-inner .form-horizontal .control-group {
    margin-bottom: 8px;
}
.accordion-inner .form-horizontal .control-group .control-label {
    width: 35%;
}
.accordion-inner .form-horizontal .control-group .controls {
    margin-left: 37%;
}
.accordion-inner .form-horizontal .control-group .controls input[type=text],
.accordion-inner .form-horizontal .control-group .controls select,
.accordion-inner .form-horizontal .control-group .controls textarea {
    width: 95%;
}

.static-form-value {
    /* mimic spacing of editalbe widgets */
    padding-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}
.mini-form {
    padding-left: 10px;
    padding-top: 4px;
}
.mini-form label, 
.mini-form input {
    display: inline-block;
}

/* styles for modal popups */
.current-styleguide-values {
    margin-top: -0.4em;    
    margin-bottom: 0.4em;    
}
.current-styleguide-values label {
    display: inline-block;
    width: 10em;
    text-align: right;
}
.current-styleguide-values span {
    font-weight: bold;
}
.current-styleguide-values span a {
    font-weight: normal;
}

#simple-chooser .match {
    clear: left;
    border-top: 1px solid #eee;
    padding: 6px 0;
    overflow: hidden;
    cursor: pointer;
}
#simple-chooser .match:first-child {
    border-top: none;
}
#simple-chooser .match:hover {
    background-color: #ffd;
}
#simple-chooser .name {
    font-weight: bold;
}
#simple-chooser .description {
    color: #999;
}

#styleguide-chooser .match {
    clear: left;
    border-top: 1px solid #eee;
    padding: 6px 0;
    overflow: hidden;
}
#styleguide-chooser .match:hover {
    background-color: #ffd;
}
#styleguide-chooser .match.assigned:hover {
    background-color: #ddd;
}
#styleguide-chooser .match.assigned.previous-version:hover {
    background-color: #dda;
}
#styleguide-chooser img.thumbnail {
    width: 60px;
    height: 60px;
    background-color: #eee;
    float: left;
    border: none;
    margin: 0 8px 8px 6px;
}
#styleguide-chooser .match .btn {
    clear: left;
    float: left;
    width: 46px;
    margin: -10px 0px 6px 6px;
}
#styleguide-chooser .name {
    font-weight: bold;
}
#styleguide-chooser .version {
    font-weight: normal;
    color: #999;
}
.element-styles {
    scroll: y;
    y-scroll: auto;
}
.element-styles thead {
    background-color: #eee;
}
.element-styles th:last-child, .element-styles td:last-child {
    text-align: right;
}
.element-styles tbody td:first-child {
    padding-left: 20px;
}
.element-styles tbody tr.inherited-property {
    font-style: italic;
    color: #bbb;
}

button.btn-mini-function {
    font-weight: bold;
    font-style: italic;
    font-family: serif;
}

/* diagnostic styles for viewport, masks, etc.
#viewport-bounds {
    stroke: red !important;
}
#illustration-bounds {
    fill: pink !important;
    stroke: green !important;
}
#illustration-background {
    fill: orange !important;
    stroke: brown !important;
}
#viewport-background {
    fill: yellow !important;
    stroke: purple !important;
}
#viz-outer-frame div.vega {
    overflow: visible !important;
}
#viz-outer-frame div.vega > svg {
    fill: pink !important;
    stroke: red !important;
    stroke-width: 4px !important;
}
*/
