/* Simple test of print-only stylesheet (hides all but SVG)
 *  http://stackoverflow.com/a/2618980
 */

body * { 
    visibility: hidden; 
}
#viz-outer-frame {
    width: auto;
    height: auto;
}

#svg-toolbox, #svg-toolbox *,
#viz-outer-frame div.vega svg, 
#viz-outer-frame div.vega svg * { 
    visibility: visible; 
}
#viz-outer-frame,
#viz-outer-frame div.vega,
#viz-outer-frame div.vega svg {
    position: absolute !important;
    left: 0;
    top: 0;
}
#viz-outer-frame div.vega svg {
    clip: url(#illustration-background)
}
